body {
  background-color: aquamarine;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100%;
}
